body { background: #938c1; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 58px; display: flex; }
.block-logger-0 { color: #397a1f; font-size: 18px; margin-bottom: 5px; }
.block-invoice-1 { color: #533fa2; font-size: 16px; margin-bottom: 5px; }
.block-invoice-2 { color: #2492b4; font-size: 21px; margin-bottom: 5px; }
.block-payment-3 { color: #64f17a; font-size: 14px; margin-bottom: 5px; }
.block-router-4 { color: #cce80a; font-size: 17px; margin-bottom: 5px; }
.block-invoice-5 { color: #646df8; font-size: 12px; margin-bottom: 5px; }
.block-logger-6 { color: #7c5f35; font-size: 13px; margin-bottom: 5px; }
.block-user-7 { color: #f47a50; font-size: 13px; margin-bottom: 5px; }
.block-cluster-8 { color: #21f87e; font-size: 14px; margin-bottom: 5px; }
.block-shipping-9 { color: #e7f08c; font-size: 21px; margin-bottom: 5px; }